.header{
    display: flex;
    align-items: center;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.title-group a{
    color: white;
}

.header .title-group{
    padding-left: 12px;
}
.header .title-group i{
    padding-right: 5px;
}

.header .logo{
    max-height: 58px;
}