<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>

    <form>
        <mat-form-field>
            <input matInput type="text" class="name-input" required [(ngModel)] = "produto.name" name="name" minlength="3">
            <mat-placeholder class="placeholder">Nome</mat-placeholder>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" required [(ngModel)] = "produto.price" name="price" min="0">
            <mat-placeholder class="placeholder">Preço(R$)</mat-placeholder>
        </mat-form-field>
    </form>

    <button  mat-raised-button (click) = "updateProduct()" appBlueBackground >
        Salvar
    </button>

    <button mat-raised-button (click) = "cancel()" appRedBackground>
        Cancelar
    </button>
</mat-card>