/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input{
    /* troca a cor da linha quando o placeholder esta ativo */
    caret-color: white !important;
}
.v-middle{
    /* classe para centralizar qualquer icone na aplicação */
    vertical-align: middle;
}
.black-snackbar{
    color: white;
    background-color: #222222;
}
 
.mat-focused .placeholder{
    color: #FFF;

}
.mat-form-field-underline  {
    background-color: #fff !important;
  } 
.mat-form-field-ripple {

    background-color: #fff !important;
   }

.mat-focused .mat-form-field-label {

    color: #fff !important;
}


